parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_dir\\(\\) on a separate line has no effect\\.$#"
			count: 1
			path: tests/Functional/FilesystemWritingTest.php

		-
			message: "#^Call to function is_file\\(\\) on a separate line has no effect\\.$#"
			count: 1
			path: tests/Functional/FilesystemWritingTest.php

		-
			message: "#^Call to function is_dir\\(\\) on a separate line has no effect\\.$#"
			count: 3
			path: tests/Functional/FsCache/FilesystemFunctions/IsWritableTest.php

		-
			message: "#^Call to function is_dir\\(\\) on a separate line has no effect\\.$#"
			count: 2
			path: tests/Functional/RealpathCachingTest.php

		-
			message: "#^Call to function is_file\\(\\) on a separate line has no effect\\.$#"
			count: 1
			path: tests/Functional/RealpathCachingTest.php
